
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoTimber</title>

    @*<title> @ViewBag.Title </title>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/src/Libs/gl-matrix.js"></script>
    <script src="~/src/Libs/webgl-utils.js"></script>
    <script src="~/src/Scripts/xbim-viewer.debug.bundle.js"></script>

    <script type="text/javascript" src="~/src/Viewer/xbim-product-type.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-state.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-shaders.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-model-geometry.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-model-handle.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-binary-reader.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-triangulated-shape.debug.js"></script>
    <script type="text/javascript" src="~/src/Viewer/xbim-viewer.debug.js"></script>

    <script src="~/src/Plugins/NavigationCube/xbim-navigation-cube-textures.debug.js"></script>
    <script src="~/src/Plugins/NavigationHome/xbim-navigation-home-textures.debug.js"></script>
    <script src="~/src/Plugins/NavigationHome/xbim-navigation-home.debug.js"></script>
    <script src="~/src/Plugins/NavigationCube/xbim-navigation-cube-shaders.debug.js"></script>
    <script src="~/src/Plugins/NavigationCube/xbim-navigation-cube.debug.js"></script>
    <script src="~/src/Scripts/jquery-1.10.2.min.js"></script>
    @*dashboard custom script*@
    <link href="~/src/Content/style4.css" rel="stylesheet" />
    <!-- Font Awesome JS -->

    <script src="~/src/fonts/fontawesome.js"></script>
    <script src="~/src/fonts/solid.js"></script>
    @RenderSection("scripts", required: false)

</head>

    <body>

        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>DashBoard</h3>
                    <strong>DB</strong>
                </div>

                <ul class="list-unstyled components">
                    
                    <li id="btn-projects">
                        <a href="#">
                            <i class="fas fa-briefcase"></i>
                            Projects
                        </a>
                        
                    </li>
                    <li id="btn-upload">
                        <a href="#">
                            <i class="fas fa-image"></i>
                            Upload
                        </a>
                    </li>
                    <li id="btn-view">
                        <a href="#">
                            <i class="fas fa-question"></i>
                            View
                        </a>
                    </li>
                    
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            @*Button Text Here*@
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        
                    </div>
                </nav>


                <div id="div-content">
                    <div id="mycontent">
                        @RenderBody()
                    </div>

                </div>


            </div>
        </div>

     

       
        
    </body>

</html>
