@model IEnumerable<ProjectVM>
@{
    Layout = null;

}
<table class="table table-hover">
    <tr>
        @*<th style="text-align:center">
             <img src="@Url.Content(@Model.Photo)" alt="@Model.AlternateText" />
            @Html.DisplayNameFor(model => model.Project.Thumbnail)
        </th>*@
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Project.Title)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Project.DesignState)
        </th>
        <th style="text-align:center">
            <label>Actions</label>
        </th>
        <th style="text-align:center">
            <label>Gallery</label>
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Project.Thumbnail)
            </td>*@
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Project.Title)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Project.DesignState)
                @if (item.Project.DesignState == Algorithm.DB.Models.DesignState.Waiting)
                {


                    string txt = "Start Framing";
                    @:<span class="glyphicon glyphicon-time" aria-hidden="true" style="left: 5px;"></span>
                    @:<input type="button" class="btn-Design btn btn-default" style="margin-left: 32px;" value=@txt />

                    @Html.HiddenFor(modelItem => item.Project.Id)

                }
                else if (item.Project.DesignState == Algorithm.DB.Models.DesignState.Designed)
                {

                    @:&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i>
                    string txt = "Reframe";
                    @:<input type="button" class="btn-Design btn btn-default" style="margin-left: 15px;" value=@txt />
                    @Html.HiddenFor(modelItem => item.Project.Id)

                }


                else
                {
                    string txt = "Start Framing";
                    @:&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-times"></i>
                    @:<input type="button" class="btn-Design btn btn-default" style="margin-left: 33px;" value=@txt disabled />
                    @Html.HiddenFor(modelItem => item.Project.Id)

                }



            </td>
            <td id="td-project" style="text-align:center">
                <div>

                    <span style="margin:5px" class="btn-show">
                        <i class="fas fa-eye" style="margin-right:3px"></i>view
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    <span style="margin:5px" class="btn-download">
                        <i class="fas fa-download" style="margin-right:3px"></i>download
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>
                    @*BOQ*@
                    <span style="margin:5px" class="btn-boq">
                        <i class="fas fa-file-excel" style="margin-right:3px"></i>BOQ
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*download all*@
                    <span class="btn-archive" style="margin:5px">
                        <i class="fas fa-file-archive" style="margin-right:3px"></i>archive
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*Settings*@
                    <span class="btn-settings" style="margin:5px" data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-cog" style="margin-right:3px"></i>settings
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*Delete Button*@
                    <span style="margin:5px">
                        <i class="fas fa-trash-alt" style="margin-right:3px">
                        </i> @Html.ActionLink("delete", "Delete", new { id = item.Project.Id })
                    </span>


                </div>
            </td>

            <td style="text-align:center">
                <span class="btn-gallery">
                    @Html.CheckBoxFor(modelItem => item.Project.AddToGallery)
                    @Html.HiddenFor(modelItem => item.Project.Id)
                </span>
            </td>
        </tr>
    }

</table>
<style>
    tr:nth-child(even) {
        background-color: #d5dafb;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }

</style>

@* Modaaaaaaaaaaaaaaaaaaaaaaaaaals *@

@*Settings Modal*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Project Settings</h4>
            </div>
            <div class="modal-body">
                @*Modal Body*@

                <div id="accordion">

                    @*Section Properties*@
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Section Properties
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                @*Header Section*@
                                <div>
                                    <label>Header Section</label>
                                    <select id="slct-header" class="form-control">
                                        <option selected>Section 2x 4</option>
                                        <option>Section 2x 6</option>
                                        <option>Section 2x 8</option>
                                        <option>Section 2x 10</option>
                                        <option>Section 2x 12</option>
                                    </select>
                                </div>
                                @*Joist Section*@
                                <div>
                                    <label>Joist Section</label>
                                    <select id="slct-joist" class="form-control">

                                        <option>Section 2x 6</option>
                                        <option>Section 2x 8</option>
                                        <option>Section 2x 10</option>
                                        <option>Section 2x 12</option>
                                    </select>
                                </div>
                                @*Stud Section*@
                                <div>
                                    <label>Stud Section</label>
                                    <select id="slct-stud" class="form-control">
                                        <option selected>Section 2x 4</option>
                                        <option>Section 2x 6</option>
                                    </select>
                                </div>
                                @*WoodSpecies*@
                                <div>
                                    <label class="">Wood Species</label>
                                    <select id="slct-woodSpecies" class="form-control ">
                                        <option selected>
                                            Douglas fir
                                        </option>

                                        <option>Hem fir</option>
                                        <option>Southern pine</option>
                                        <option>Spruce pine fir</option>
                                    </select>
                                </div>
                                @*WoodGrade*@
                                <div>
                                    <label class="">Stud Section</label>
                                    <select class="form-control " id="slct-woodGrade">
                                        <option value="0" selected>SS</option>
                                        <option value="1">#1</option>
                                        <option value="2">#2</option>
                                        <option value="3">#3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Design Options*@
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Design Options
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                @*Wall frame*@
                                <div>
                                    <label>Frame Walls</label>
                                    <select id="slct-Walls" class="form-control">
                                        <option value="0" selected>Auto</option>
                                        <option value="1">Enabled</option>
                                        <option value="2">Disabled</option>
                                    </select>
                                </div>

                                @*Wall frame*@
                                <div>
                                    <label>Frame Rafter</label>
                                    <select id="slct-Rafter" class="form-control">
                                        <option value="0" selected>Auto</option>
                                        <option value="1">Enabled</option>
                                        <option value="2">Disabled</option>
                                    </select>
                                </div>
                                @*Wall frame*@
                                <div>
                                    <label>Detect External Walls</label>
                                    <select id="slct-ExternalWalls" class="form-control">
                                        <option value="0" selected>Auto</option>
                                        <option value="1">Enabled</option>
                                        <option value="2">Disabled</option>
                                    </select>
                                </div>
                                @*Wall frame*@
                                <div>
                                    <label>Optimize </label>
                                    <select id="slct-OptimizeWalls" class="form-control">
                                        <option value="0" selected>Auto</option>
                                        <option value="1">Enabled</option>
                                        <option value="2">Disabled</option>
                                    </select>
                                </div>
                                @*Wall frame*@
                                <div>
                                    <label>Exclude</label>
                                    <select id="slct-Exclude" class="form-control">
                                        <option value="0">Auto</option>
                                        <option value="1">Enabled</option>
                                        <option value="2" selected>Disabled</option>
                                    </select>
                                </div>
                                @*Wall frame*@
                                <div>
                                    <label>Delete Architecture Elements</label>
                                    <select id="slct-DeleteArcWalls" class="form-control">
                                        <option value="0">Auto</option>
                                        <option value="1" selected>Enabled</option>
                                        <option value="2">Disabled</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btn-settings-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn-settings-ok" type="button" class="btn btn-primary fa-book " style="float: left;width:50px;" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        var divElement = $("<div id='mycontent' > Loading..</div>");
        //refresh projects
        //refresh projects
       
/// end refresh projects

        var Settings = function () {

            this.ProjectId = 0;
            //this.FrameWalls = 0;
            //this.FrameFloors = 0;
            //this.FrameRafter = 0;
            //this.DetectExternalWalls = 0;
            //this.OptimizeWalls = 0;
            //this.OptimizeFloors = 0;
            //this.OptimizeRafter = 0;
            //this.Exclude = 0;
            //this.DeleteArcWalls = 0;
            this.HeaderSection = 0;
            this.StudSection = 0;
            this.JoistSection = 0;
            this.WoodGrade = 0;
            this.WoodSpecies = 0;
        };

        var userSettings = [] //array to store user settings from server


        var selectedProjectId;
        var settings;



        //Selected project Id
        $('.btn-settings').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

        });

        //btn showww
        $('.btn-show').click(function () {

            selectedProjectId = $(this).find('input[type=hidden]').val();

            var divElement = $("<div id='mycontent' >Loading..</div>");
            $('#div-content > #mycontent').remove();
            //add the div content again
            $('#div-content').html(divElement);

            $.ajax({
                url: '/files/show',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    $('#mycontent').html(data);

                }
            });

        });


        // btn BOQ
        $('.btn-boq').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();
            window.open(`/files/boq?Id=${selectedProjectId}` );
           
        });

        //btn design
        $('.btn-Design').click(function () {
            selectedProjectId = $(this).next('input[type=hidden]').val();

            $.ajax({
                url: '/projects/design',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    //refresh projects
                    $('#div-content > #mycontent').remove();

                    $('#div-content > #mycontent').html(divElement);

                    //ajax call

                    $.ajax({
                        url: '/projects/index',
                        dataType: 'html',
                        success: function (data) {
                            $('#div-content').html(divElement);
                            $('#mycontent').html(data);
                        }
                    });

                }
            });
        });


        // Atchive Download
        $('.btn-archive').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

            window.open(`/files/archive?Id=${selectedProjectId}`);
          
        });
        // btn Download

        $('.btn-download').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

            window.open(`/files/download?Id=${selectedProjectId}`);
          
        });

        var headerSec;
        var studSec;
        var joistSec;
        var woodSpecies;
        var woodGrade;

        $('#slct-header').on('change', function () {
           headerSec=this.value;
        })
        $('#slct-joist').on('change', function () {
            joistSec = this.value;
        })
        $('#slct-stud').on('change', function () {
            studSec = this.value;
        })
        $('#slct-woodGrade').on('change', function () {
            woodGrade = this.value;
        })
        $('#slct-woodSpecies').on('change', function () {
            woodSpecies = $(this).$('option:selected').attr('value');
            var value = $(this).attr('value');
            console.log(value);
            console.log(woodSpecies);
        })
        //settings
        
        $('#btn-settings-ok').click(function () {
            selectedProjectId = $(this).next('input[type=hidden]').val();
            // creating object
            settings = new Settings();
            settings.ProjectId = selectedProjectId;
            //settings.Id = settings.ProjectId;
            //settings.FrameWalls = $('#slct-Walls').val();
            //settings.FrameFloors = $('#slct-Rafter').val();
            //settings.FrameRafter = $('#slct-ExternalWalls').val();
            //settings.DetectExternalWalls = $('#slct-ExternalWalls').val();
            //settings.OptimizeWalls = $('#slct-OptimizeWalls').val();
            //settings.OptimizeFloors = $('#txt-OptimizeFloors').val();
            //settings.OptimizeRafter = $('#txt-OptimizeRafter').val();
            //settings.Exclude = $('#slct-Exclude').val();
            settings.DeleteArcWalls = $('#slct-DeleteArcWalls option:selected').val();
            settings.HeaderSection = headerSec;
            settings.JoistSection = joistSec;
            settings.StudSection = studSec;
            settings.WoodGrade = woodGrade;
            settings.WoodSpecies = woodSpecies;

            $.ajax({

                url: '/projects/editsettings',
                dataType: 'html',
                data: settings,
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });


        //btn gallery
        $('.btn-gallery').click(function () {

            selectedProjectId = $(this).find('#item_Project_Id').val();
            console.log(selectedProjectId);
            var divElement = $("<div id='mycontent' >Loading..</div>");
            $('#div-content > #mycontent').remove();
            //add the div content again
            $('#div-content').html(divElement);
            var vals = $(this).find('input[type=checkbox]').val();
            $.ajax({
                url: '/projects/gallery',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (response) {
                    window.location.href = '@Url.Action("Index", "Gallery")';
                   // $('#mycontent').html(data);

                }
            });

        });



        //





    });
</script>