@model IEnumerable<ProjectVM>
@{
    Layout = null;

}
<table class="table table-hover">
    <tr>
        <th style="text-align:center">
            @* <img src="@Url.Content(@Model.Photo)" alt="@Model.AlternateText" />*@
            @Html.DisplayNameFor(model => model.Project.Thumbnail)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Project.Title)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Project.DesignState)
        </th>
        <th style="text-align:center">
            <label>Actions</label>
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Thumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.DesignState)
                @if (item.Project.DesignState == Algorithm.DB.Models.DesignState.Waiting)
                {

                    string txt = "Start Framing";
                    @:<input type="button" class="btn-Design btn btn-default" value=@txt />
                    @Html.HiddenFor(modelItem => item.Project.Id)

                }
                else if (item.Project.DesignState == Algorithm.DB.Models.DesignState.Designed)
                {

                    string txt = "Reframe";
                    @:<input type="button" class="btn-Design btn btn-default" value=@txt />
                    @Html.HiddenFor(modelItem => item.Project.Id)

                }


                else
                {
                    string txt = "Start Framing";
                    @:<input type="button" class="btn-Design btn btn-default" value=@txt disabled />
                    @Html.HiddenFor(modelItem => item.Project.Id)


                }



            </td>
            <td id="td-project">
                <div>

                    <span style="margin:5px" class="btn-show">
                        <i class="fas fa-eye" style="margin-right:3px"></i>view
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    <span style="margin:5px" class="btn-download">
                        <i class="fas fa-download" style="margin-right:3px"></i>download
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>
                    @*BOQ*@
                    <span style="margin:5px" class="btn-boq">
                        <i class="fas fa-file-excel" style="margin-right:3px"></i>BOQ
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*download all*@
                    <span class="btn-archive" style="margin:5px">
                        <i class="fas fa-file-archive" style="margin-right:3px"></i>archive
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*Settings*@
                    <span class="btn-settings" style="margin:5px" data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-cog" style="margin-right:3px"></i>settings
                        @Html.HiddenFor(modelItem => item.Project.Id)
                    </span>

                    @*Delete Button*@
                    <span style="margin:5px">
                        <i class="fas fa-trash-alt" style="margin-right:3px">
                        </i> @Html.ActionLink("delete", "Delete", new { id = item.Project.Id })
                    </span>


                </div>
            </td>

        </tr>
    }

</table>


@* Modaaaaaaaaaaaaaaaaaaaaaaaaaals *@

@*Settings Modal*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <label>FrameWalls</label>  <input id="txt-frameWalls" type="text" />
                <label>FrameFloors</label>  <input id="txt-FrameFloors" type="text" />
                <label>FrameRafter</label>  <input id="txt-FrameRafter" type="text" />
                <label>DetectExternalWalls</label>  <input id="txt-DetectExternalWalls" type="text" />
                <label>OptimizeWalls</label>  <input id="txt-OptimizeWalls" type="text" />
                <label>OptimizeRafter</label>  <input id="txt-OptimizeRafter" type="text" />
                <label>Exclude</label>  <input id="txt-Exclude" type="text" />
                <label>DeleteArcWalls</label>  <input id="txt-DeleteArcWalls" type="text" />
            </div>
            <div class="modal-footer">
                <button id="btn-settings-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        var Settings = function () {

            this.ProjectId = 0;
            this.FrameWalls = 0;
            this.FrameFloors = 0;
            this.FrameRafter = 0;
            this.DetectExternalWalls = 0;
            this.OptimizeWalls = 0;
            this.OptimizeFloors = 0;
            this.OptimizeRafter = 0;
            this.Exclude = 0;
            this.DeleteArcWalls = 0;

        };

        var userSettings = [] //array to store user settings from server


        var selectedProjectId;
        var settings;



        //Selected project Id
        $('.btn-settings').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

        });

        //btn showww
        $('.btn-show').click(function () {

            selectedProjectId = $(this).find('input[type=hidden]').val();

            var divElement = $("<div id='mycontent' >Loading..</div>");
            $('#div-content > #mycontent').remove();
            //add the div content again
            $('#div-content').html(divElement);

            $.ajax({
                url: '/files/show',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    $('#mycontent').html(data);

                }
            });

        });


        // btn BOQ
        $('.btn-boq').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

            $.ajax({
                url: '/files/boq',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });

        //btn design
        $('.btn-Design').click(function () {
            selectedProjectId = $(this).next('input[type=hidden]').val();

            $.ajax({
                url: '/projects/design',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });


        // Atchive Download
        $('.btn-archive').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

            $.ajax({
                url: '/files/archive',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });
        // btn Download

        $('.btn-download').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();

            $.ajax({
                url: '/files/download',
                dataType: 'html',
                data: { Id: selectedProjectId },
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });

        //settings

        $('.btn-settings-close').click(function () {
            selectedProjectId = $(this).find('input[type=hidden]').val();
            // creating object
            settings = new Settings();
            settings.ProjectId = selectedProjectId;
            settings.Id = settings.ProjectId;
            settings.FrameWalls = $('#txt-FrameWalls').val();
            settings.FrameFloors = $('#txt-FrameFloors').val();
            settings.FrameRafter = $('#txt-FrameRafter').val();
            settings.DetectExternalWalls = $('#txt-DetectExternalWalls').val();
            settings.OptimizeWalls = $('#txt-OptimizeWalls').val();
            settings.OptimizeFloors = $('#txt-OptimizeFloors').val();
            settings.OptimizeRafter = $('#txt-OptimizeRafter').val();
            settings.Exclude = $('#txt-Exclude').val();
            settings.DeleteArcWalls = $('#txt-DeleteArcWalls').val();

            $.ajax({

                url: '/projects/editsettings',
                dataType: 'html',
                data: settings,
                success: function (data) {

                    //$('#mycontent').html(data);
                }
            });
        });


        //btn show



        //





    });
</script>